header {
    height: auto;
    color: #d1d1d1;
    background-color: #1d1d1d; /* Mude a cor conforme necessário */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Certifique-se de que o header fique acima de outros elementos */
}

.logo {
    width: 100px;
    height: 100px;
}

body {
    margin: 0;
    padding-top: 120px; /* Ajuste conforme a altura do header */
}
